@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #19181F;
    font-family:'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;

    .btnOpenModal {
        border-radius: 10px;
        border: none;
        width: 150px;
        height: 40px;
        margin-top: 50vh;
        background-color: #7159c1;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

    .btnOpenModal:hover {
        background-color: #8263eb;
    }

}

